body{
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}


a{
    text-decoration: none;
    color: white;
}

.header{
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    font-weight: bolder;
    font-size: 24px;
    padding: 0 100px;
    
   
}

.links{
    display: flex;
    font-weight: 200;
    font-size: 16px;
    
}

.hero{
    background-color: #1F2937;
    padding: 0 100px;
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    justify-content: space-between;
    
}


.hero-intro{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    padding: 5px;
}

.hero-subtext{
    font-size: 18px;
    color: #E5E7EB;
    padding: 5px;
    
    
}

button{
    cursor: pointer;
    padding: 8px 30px;
    border-radius: 8px;
    margin-top: 8px;
}

.signup{
    background-color: #3882F6;
    color: white;
    border: 1px solid royalblue;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 16px;

}